/* =ALL============================================================== */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    /* text-align: center; */
}

/* =NAVIGATION========================================================= */
.navigation-container{

  
    
}

.column-races{
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    color: black;
    display: flex;
  justify-content: flex-end;
   
  
}

.title {
    color: grey;
}

/* ========================================================== */


.homepage-header{
  padding: 20px;
  display: flex;  
  justify-content: center;
}

.map, #map {
    width: 100%;
    height: 75%;
}

.map{
    height: 500px;
}

.window-content{  
    width: 200px;
    height: 200px;
}


/* ========================================================== */

.form-container{
    width: 350px;
    height: 200px;
    margin-left: 20px;
}


/* ===Add a new bike race=================== */

.add-race-background{
    background-image: url(https://ridewithgps.com/photos/12747623/large.jpg);
    height: 900px;
    width: auto;
    background-size: cover;
    color:aliceblue;


}
.add-race-container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

/* .select_rating{
    padding: .375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #574953;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */



/* ========================================================== */
.login-background{
    background-image: url(https://ridewithgps.com/photos/3059837/large.jpg);
    height: 800px;
    width: auto;
    background-size: cover;
}

.signup-background{
    background-image: url(https://ridewithgps.com/photos/13088135/large.jpg);
    height: 800px;
    width: auto;
    background-size: cover;
}

.signup-container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.login-container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
  
}

.alice{
    color: aliceblue;
}


/* =========================== */
.search-by{
    color: black;
    padding: 5px;
    
}

.search-description{
margin-top: 20px;

}
.search{
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    background-color: white;
    margin: 1px;
}

#display-search-result{
    display: flex;
    flex-flow: column wrap;
}

.card{
    margin: 10px;
}


/* =FOOTER=========================================================== */
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
