{% extends 'base.html' %}
{% block title %} All Gravel Bike Races {% endblock %}


{% block content %}

{#<script src="/static/js/maps.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{MY_API_KEY}}&callback=initMap">
</script>
#}

<div class ="col find-page">
    <div class="row justify-content-center">
        <div class="col-3 search-by-specific">
                <h4 class="search-by"> Search by</h4>
                
                <div class="search-by-average-ratings">
                    <p class="search-description">Rating</p>
                    <button class="search avg " name="1">✩</button>
                    <button class="search avg "name="2">✩✩</button>
                    <button class="search avg " name="3">✩✩✩</button>
                    <button class="search avg "name="4">✩✩✩✩</button>
                    <button class="search avg "name ="5">✩✩✩✩✩</button>
                </div>
                <div id="search-by-distances">
                    <p class="search-description">Distance</p>
                    <button class="search distance-btn twenty_five" name="25">1-25</button>
                    <button class="search distance-btn fifty"name="50">26-50</button>
                    <button class="search distance-btn seventy_five"name="75">51-75</button>
                    <button class="search distance-btn hundred"name="100">75-100</button>
                    <button class="search distance-btn hundred_plus"name="101">100+</button>
                </div>
                <div class="search-by-elevation">
                    <p class="search-description">Elevation</p>
                    <button class="search elevation under_five_hun" name="500"> >500</button>
                    <button class="search elevation five_one" name="501">501-1,000</button>
                    <button class="search elevation one_one" name="1001">1,001-2,000</button>
                    <button class="search elevation two_one"name="2001">2,001-3,000</button>
                    <button class="search elevation three_one" name="3001">3,001-4,000</button>
                    <button class="search elevation four_plus" name="4001">4,001+ </button>
                </div>
                <div class="search-by-states root"></div>
        </div>
    
        <div class="col-9 search-results">
            <div class="display-all">
                 <a id="get_link"class="nav-link" href="#"> <button class="nav-link-active search" name="link">Link - all</button></a>
                <a id="get_grid" class="nav-link" href="#"> <button class="nav-link-active search" name="grid">Grid - all</button></a>
            </div>
           
            <div id="link" hidden>
                <div class="container text-center">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Race</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Location</th>
                                <th scope="col">Distance</th>
                                <th scope="col">Elevation</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for race in races %}
                                <tr>
                                    
                                    <td><a class ="card-title" href="/races/{{race.race_id}}">
                                        {{race.race_name}}</a></td>
                                    <td>{{race.average}}</td>
                                    <td>{{race.location}}, {{race.state}}</td>
                                    <td>{{race.distance}}mi</td>
                                    <td>{{race.elevation}}ft</td>
                                   
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>

            <div id="display-search-result" >
            {% for race in races %}
                
                <div class="card race-card " data-distance="{{race.distance}}" 
                data-average="{{race.average}}" data-elevation="{{race.elevation}}" 
                hidden> 
                    <div class = "row g-0">
                        <div class="col-md-4">
                            <a href="/races/{{race.race_id}}">
                            <img class="img-fluid rounded-start horiz-card-photo" src="{{race.img_url}}" alt="gravel bike race photo">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> <a  class ="card-title" href="/races/{{race.race_id}}">
                                {{race.race_name}}</a></h5>    
                                <p class="race-average">{{race.average}}</p> 
                                <p class="card-text">{{race.distance}}mi </p> 
                                <p class="card-text">{{race.elevation}}ft </p> 
                                <p class="card-text">{{race.location}}, {{race.state}} </p> 
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
       
            <div id="grid" >    
            {% for race in races %}
                    {# THIS IS WHY WE HAVE CONFLICTS B/C above, we added the same class/id for 
                    a view, so we had to modify the search function
                    #}
                    {#<div class="card" >
                        <img class="card-img-top" src="{{race.img_url}}" alt="gravel bike race photo">
                        <div class="card-body">
                        <p class="card-text"></p>
                        <a class ="card-title"  href="/races/{{race.race_id}}">
                            {{race.race_name}}</a>
                        <p class="race-average">{{race.average}}</p> 
                        <p>{{race.distance}}mi</p>
                        <p>{{race.elevation}}ft</p>
                        <p>{{race.location}}, {{race.state}} </p> 
                        </div>
                    </div>
        #}


        <div class="card race-card " data-distance="{{race.distance}}" 
        data-average="{{race.average}}" data-elevation="{{race.elevation}}" 
         > 
            <div class = "row g-0">
                <div class="col-md-4 img-parent">
                    <a class ="card-title" href="/races/{{race.race_id}}">
                    <img class="img-fluid rounded-start horiz-card-photo" src="{{race.img_url}}" alt="gravel bike race photo">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> <a href="/races/{{race.race_id}}">
                        {{race.race_name}}</a></h5>    
                        <p class="race-average">{{race.average}}</p> 
                        <p class="card-text">{{race.distance}}mi </p> 
                        <p class="card-text">{{race.elevation}}ft </p> 
                        <p class="card-text">{{race.location}}, {{race.state}} </p> 
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
            </div>
        </div>
</div>
<div class="before-footer">

</div>
<script src="/static/js/filterByElevation.js"></script>
<script src="/static/js/filterByDistance.js"></script>
<script src="/static/js/raceIndex.js"></script>
{% endblock%}