{% extends 'base.html' %}
{% block title %} Gravel Bike Races {% endblock %}


{% block content %}

<script src="/static/js/maps.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{MY_API_KEY}}&callback=initMap">
</script>

<div class="homepage-container">
  <h4 class="homepage-header">~ a visual overview of races ~</h4>
  <section class="map">
    <div id="map"></div>
    <div class="homepage-link add-new-race">
      <a href="/add-race">Add a new race</a>
    </div>
    <div class="homepage-link">
      <a href="/races">Find races </a>
    </div>

  </section>
 
</div>

{% endblock %}

