{% extends 'base.html' %}
{% block title %} Gravel Bike Races {% endblock %}


{% block content %}

<script src="/static/js/maps.js"></script>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{MY_API_KEY}}&callback=initMap">
</script>

<div class="homepage-container">
  <h4 class="homepage-header">Find your next gravel race</h4>
  {#
  <section>
    <img class="homepage-photo" src="https://ridewithgps.com/photos/13088399/large.jpg"
    alt = "gravel biker in the mountains" width="100%" height="250">
  </section>
  #}
 
  <section class="map">
    <div id="map"></div>
    <div class="homepage-link add-new-race">
      <a href="/add-race"><button class="login-signup  btn-homepage">Add a new race</button></a>
    </div>
    <div class="homepage-link">
      <a href="/races"><button class="login-signup btn-homepage">Find races</button></a>
    </div>

  </section>
 
</div>

{% endblock %}

