{% extends 'base.html' %}
{% block title%} Profile {% endblock %}

{% block content %}


<h1>{{user.name}}'s Profile</h1>
<h2>Favorited Bike Races</h2>
<p>Make this part of an aside section?</p>

<h2>Bike races that you've rated or reviewed.</h2>
{% for review in user.reviews %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{review.race.race_name}}</h5>
        <p class="card-text">Rating: {{ review.score}}</p>
        <p class="card-text">Review: {{ review.review}}</p>
    </div>
</div>     
{% endfor %}  


{#   
- ♥ Like
- Races you've completed based on 
- Reviewed
- Rated  
- Signout ??? 

#}



{% endblock %}