{% extends 'base.html' %}
{% block title %} {{race.race_name}} {% endblock %}

{% block content %}

<h1>{{race.race_name}}</h1>
<h4>Average Rating: <span class="stars">{{avg}}</span></h4>

{#  {% for review in race.reviews %}
    <p>{{ review.score }}</p>    
    {% endfor %}    #}

<p>Location: {{race.location}} </p>
<p>Distance: {{race.distance}} miles </p>
<p>Elevation: {{race.elevation}} feet</p>

<p>Description: {{race.overview}}</p>
<img src="{{race.img_url}}" alt="picture of gravel biking">

{% if session.get('user_email')%}

<h2>Rate this race</h2>
<form action="/races/{{race.race_id}}/ratings" method="POST">
    <p>
        Rating: 
        <select name="rating">
            <option value="">Select rating</option>
            {% for num in range(1, 6) %}
            <option value="{{num}}">{{num}}</option>
            {% endfor %}
        </select>
    </p>


<h2>Write a review</h2>
    <div class="mb-9" style="width: 200px;">
        <label for="exampleFormControlInput1" class="form-label">
            <input type="textarea" class="form-control" name="review" id="email" placeholder="Write a review for this race">
        </label>
    </div>

    <div class="mb-3">
        <button>Submit</button>
    </div>
</form>
{% endif %}

<h4>Reviews</h4>
{% for review in race.reviews %}
    <p>{{ review.review }}</p>    

{% endfor %}  


{% endblock%}