{% extends 'base.html' %}
{% block title %} {{race.race_name}} {% endblock %}

{% block content %}


<div class="card" style="width: 38rem; margin-right: 20px;">
    <img class="card-img-top" src="{{race.img_url}}" alt="picture of gravel biking">
    <div class="card-body">
      <h5 class="card-title">{{race.race_name}}</h5>
      <h6>Average Rating: <span class="stars">{{avg}}</span></h6>
      
      <p>Location: {{race.location}} </p>
      <p>Distance: {{race.distance}} miles </p>
      <p>Elevation: {{race.elevation}} feet</p>
      <p>Description: {{race.overview}}</p>
      <p class="card-text"></p>
    </div>
  </div>

  <h4>What others say about this race</h4>
  {% for review in race.reviews %}
      <p class="display-review">{{ review.review }}</p>    
  
  {% endfor %}  



{% if session.get('user_email')%}

<h2>Rate this race</h2>
<form action="/races/{{race.race_id}}/ratings" method="POST">
    <p>
        Rating: 
        <select name="rating">
            <option value="">Select rating</option>
            {% for num in range(1, 6) %}
            <option value="{{num}}" required>{{num}}</option>
            {% endfor %}
        </select>
    </p>


<h2>Write a review</h2>
    <div class="mb-9" style="width: 200px;">
        <label for="exampleFormControlInput1" class="form-label">
            <input type="textarea" class="form-control" name="review" id="email" placeholder="Write a review for this race" required>
        </label>
    </div>

    <div class="mb-3">
        <button>Submit</button>
    </div>
</form>
{% endif %}

{% endblock%}