{% extends 'base.html' %}
{% block title%} Signup {% endblock%}

{% block content %}
<div class="signup-background">
<div class="signup-container">


<form action="/signup" method="POST">
    <h1 class="alice">Signup </h1>
    <div class="mb-3 alice">
        <label for="exampleFormControlInput1" class="form-label">Name
            <input type="text" class="form-control" name= "name" id="email" placeholder="name" required>
        </label>
    </div>
    <div class="mb-3 alice">
        <label for="exampleFormControlInput1" class="form-label">Email
            <input type="email" class="form-control" name= "email" id="email" placeholder="name@example.com" required>
        </label>
    </div>
    <div class="mb-3 alice">
        <label for="exampleFormControlTextarea1" class="form-label">Password
            <input type="password" class="form-control" name="password" id="password" rows="3" required>
        </label>
   
        </div>
    <div class="mb-3">
    <button>Submit</button>
    </div>
</form>
</div>
</div>

{% endblock %}