{% extends 'base.html' %}
{% block title%} Signup {% endblock%}

{% block content %}
<div class="signup-background ">
<div class="signup-container ">

<div class="row justify-content-center">
<form action="/signup" method="POST" class="needs-validation">
    <h2 class="alice">Signup </h2>
    <div class="mb-3 alice">
        <label for="exampleFormControlInput1" class="form-label">Name
            <input type="text" class="form-control" name= "name" id="email" placeholder="name" required>
        </label>
    </div>
    <div class="mb-3 alice">
        <label for="exampleFormControlInput1" class="form-label">Email address
            <input type="email" class="form-control" name= "email" id="email" placeholder="name@example.com" required>
        </label>
    </div>
    <div class="mb-3 alice">
        <label for="exampleFormControlTextarea1" class="form-label">Password
            <input type="password" class="form-control" name="password" id="password" rows="3" required>
        </label>
   
        </div>
    <div class="mb-3">
    <button class="login-signup">Signup</button>
    </div>
</form>
</div>
</div>
</div>

{% endblock %}