{% extends 'base.html' %}
{% block title%} Signup {% endblock%}

{% block content %}

<h1>Signup </h1>

<form action="/signup" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email
            <input type="email" class="form-control" name= "email" id="email" placeholder="name@example.com">
        </label>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password
            <input type="password" class="form-control" name="password" id="password" rows="3">
        </label>
   
        </div>
    <div class="mb-3">
    <button>Submit</button>
    </div>
</form>

{% endblock %}